/* Base reset */
* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  /* font-family: raleway, sans-serif; */
  box-sizing: border-box;
}

/* NAV */

#main-nav {
  position: fixed;
  top: 0;
  left: 0;
  white-space: nowrap;
  /* overflow-x: auto; */
}

#desktop-nav {
  display: flex;
  align-items: flex-end;
}

#mobile-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  /* top:  */
  margin-top: 100px;
  background: #333;
  right: 0;
  z-index: 999;
  /* width: 40%; */
  border-bottom-left-radius: 12px;
  text-align: center;
  display: none;
}

#mobile-nav a {
  color: white;
  padding: 30px 100px;
  text-decoration: none;
}

nav a {
  display: inline-block;
}

.fa-bars {
  display: none;
  cursor: pointer;
}

.navbar {
  width: 100vw;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* overflow: hidden; */
  background: #EEE;
  margin-bottom: 0px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /* z-index: 1999; */
}

nav {
  z-index: 1000;
}

#logo-header {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.thumbnail-logo {
  display: flex;
  width: 6.5vw;
  padding-right: 5px;
  transform: translateY(-2px);
}

.logo-heading {
  color: #333;
  font-family: "Bebas Neue", sans-serif;
  /* font-size: clamp(2em, 3.5vw, 4em); */
  font-size: 8vw;
  /* padding: 20px 25px 20px 0px; */
  /* margin-top: 5px; */
  text-shadow: 2px 2px #83e7cb;
}

.logo-heading:active {
  transform: translateY(-2px);
  color: #83e7cb;
  text-shadow: 2px 2px #333;
  transition-duration: 100ms;
}

nav a {
  text-decoration: none;
}

.nav-link {
  color: #565B5E;
  text-align: left;
  padding: 14px 16px;
  /* margin: 10px; */
  text-decoration: none;
  font-size: clamp(.9em, 1.3vw, 1.8em);
  transform: translateY(-11px);
  /* font-size: 18px; */
  border: none;
  /* background: #EAECEF; */
  /* z-index: 999; */

  /* margin-right: clamp(5px, 1vw, 10px); */
  /* margin-left: clamp(5px, 1vw, 10px); */
  /* margin-left: 0px; */

}

.dropbtn {
  color: #565B5E;
  text-align: left;
  /* margin: 0px 20px; */
  text-decoration: none;
  font-size: clamp(.9em, 1.3vw, 1.8em);
  border: none;
  /* background: #EAECEF; */

  transform: translateY(-11px);
  /* z-index: 100; */
  /* margin-right: min(5px, 10px);
  margin-left: max(5px, 10px); */
}


.dropdown {
  /* float: left; */
  /* overflow: hidden; */
  /* margin-left: clamp(5px, 1vw, 10px); */

  /* z-index: 999; */
}

.dropdown .dropbtn {
  /* border: none; */
  /* outline: none; */
  /* color: #565B5E; */
  padding: 14px 16px;
  /* background: inherit; */
  /* font-family: inherit; */
  /* padding: 14px 16px; */
  /* font-size: 18px; */
  /* margin: auto 10px; */
}

.nav-link:hover, .dropdown:hover .dropbtn {
  background-color: #83e7cb;
  color: #333; 
  border-radius: 30px;
  transition-duration: 100ms;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  /* border-bottom: 20px solid #83e7cb; */
}

.nav-link-active {
  border-bottom: 4px solid #83e7cb;
  box-sizing: border-box;
  padding-bottom: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #565B5EE9;
  min-width: 160px;
  transform: translateY(-11px);
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 8px;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #697078;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.divider {
}

#desktop-prlx {
  background: url(images/online-guitar-lessons.jpg);
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 4px;
}

#mobile-fold {

}

#mobile-header-img {
  width: 100vw;
  margin-top: 100px;
}

#email-image {
  width: 300px;
  /* margin: 20px; */
  border-radius: 100%;
}

.tagline-bckgrnd {
  z-index: -1;
}

.tagline-bckgrnd:nth-of-type(1) {
  margin-top: 250px;
}

.tagline-bckgrnd:nth-of-type(3) {
  margin-bottom: 60px;
}

#logo {
  width: 300px;
  padding: 20px;
  margin: 30px auto 100px auto;
}

.tagline-bckgrnd {
  background: #111111BB;
  margin: 20px;
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.email-sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #EAECEF;
}

#mc_embed_signup_scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mc_embed_signup_scroll label {
  color: #333;
  font-weight: 600;
}


.second-header {
  color : #333;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  font-size: clamp(10vw, 4vw, 20vw);
  margin: 0 auto 0px;
  padding: 20px;
  text-shadow: 2px 2px #83e7cb;
}

#mailform-shift h2 {
  color : #333;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  font-size: clamp(15vw, 4vw, 28vw);
  margin: 0 auto 0px;
  /* padding: 20px; */
  text-shadow: 2px 2px #83e7cb;
  /* position: relative; */
}

#mailform-shift {
  transform: translateY(-4.3em);
  display: flex;
  flex-direction: column;
  align-items: center;

}

#sign-up-paragraph {
  margin: 20px;
  padding: 10px;
  width: 40%;
  color: white;
  background: #000000BB;
  border-radius: 4px;
  text-align: center;
}

.required {
  margin: 15px auto;
  width: 100%;
  border: none;
  height: 3rem;
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

::placeholder { 
  /* color: #565B5E; */
  /* color: #FFFFFF44; */
  opacity: 1;
  /* text-align: center; */
}

#sign-up {
  background: #E3C24D;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  margin: 40px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

p {
  /* margin: 20px auto 20px 40px; */
  font-size: 18px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 30px;
}

.card {
  /* margin: 2rem; */
  padding: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card:hover {
  transform: translateY(-4px);
  transition-duration: 300ms; 
}

.card-title {
  /* font-family: "Bebas Neue", sans-serif; */
  font-size: 2.3rem;
  /* color: #565B5E; */
  /* margin-bottom: 20px; */
  /* text-shadow: 2px 2px #83e7cb; */
}

.card-button {
  color: #333;
  display: block;
  background: #E3C24D;
  border: none;
  border-radius: 2rem;
  font-size: 20px;
  text-align: center;
  padding: 15px;
  margin: 30px;
  width: fit;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
}

.card-button:hover {
  /* background-color:  #e4c34b; */
  color: #333;
  transition-duration: 100ms; 
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}

.course-div a, .card a, .print-card a {
  text-decoration: none;
}

.card-image {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.card-image:hover {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}


button a {
  text-decoration: none;
  color: white;
}


.divider h2 {
  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: 100px;
  padding: 40px;
  z-index: 1;
}

.video-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video-element {
  margin: 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto 100px auto;
}

.about p {
  text-align: justify;
  padding: .5em;
  font-size: 16px;
  margin: auto 2em;
}

.profilePic {
  border-radius: 50%;
  width: 400px;
  margin: auto 30px 10px auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  float: left;
}

footer {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #111;
  /* color: #EAECEF; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

footer p {
  font-size: 14px;
}

.social {
  /* width: 100vw; */
  font-size: 1.2em;  
  background: #565B5E;
  padding: 1em;
  /* flex-direction: column; */
  align-items: baseline;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social-element {
  padding: 1vw;
}

#social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.social h3 {
  color: #eee;
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  font-weight: 100;
  text-align: center;
  /* padding: 20px; */
  /* margin-top: 100px; */
}

.social i {
  color: #111;
  font-size: 2.5em;
  margin: .5em;
}

.social i:hover {
  /* text-shadow: 2px 2px #83e7cb; */
  color: #AAA;
  transition-duration: 100ms;
}

.social i:active {
  color: white;
}

footer a {
  padding: 4px;
  color: 565B5E;
  text-align: center;
  text-decoration: none;
  color: white;
}

.footer-nav {
  margin: 40px;
}

footer {
  padding: 1em;
  width: 100vw;
}

.footer-logo {
  width: 150px;
  margin: 1vw;
}

.copyright {
  color: #565B5E;
  text-align: center;
  /* margin-top: 20px; */
}

.copyright-text {
  color: #565B5E
}

.copyright p {
  padding: 5px;
}

.footer-nav a {
  display: block;
}

.footer-element {
  padding: clamp(1vw, 2vw, 3vw);
}

.first-element-margin {
  margin-top: 150px;
}

.print-card {
  display: flex;
  flex-direction: column;
  border: none;
  border-radius: 4px;
  align-items: center;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.print-card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.center {
  text-align: center;
}

.margin-bottom {
  margin-bottom: 40px;
}

input[type="email"], input[type="text"] {
  font-size: 16px;
  text-align: left;
  padding: 5px 10px;
  /* width: 600px; */
}

.email-signup-button {
  border-radius: 30px;
  border: none;
  background: #83e7cb;
  font-size: 20px;
  padding: 10px;
  margin: 20px;
  text-align: center;
  transition-duration: 100ms; 
  cursor: pointer;
  text-align: center;
}

input[type="submit"] {
  background: #83e7cb;
  padding: 15px;
}

/* .email-signup-button:hover {
  background: #83e7cb;

} */

.mce_inline_error {
  color: tomato;
  padding-bottom: 10px;
}

.mc-field-group {
  margin-top: 20px;
}

/* .logo-heading {
  color: #565B5E;
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  text-shadow: 2px 2px #83e7cb;
  align-content: center;
} */

/* .logo {
  margin: 10px 20px;
  width: 40px;
} */

/* nav {
  color: #565B5E;
  width: 100vw;
} */



/* media queries */

@media screen and (max-width: 1000px) {
  .menu-icon {
    display: none;
  }
  .nav-link, .dropdown .dropbtn {
    padding: 10px;
  }
  .nav-link-active {
    padding-bottom: 6px;
  }
  #mailform-shift {
    transform: translateY(-3.8em);
  }  
}

@media screen and (min-width: 800px) {
  .fa-bars, #mobile-fold, #veggie-burger-expanded, #mobile-nav {
    display: none;
  }
  /* #mobile-nav {
    display: none;
  } */
}

/* primary mobile view */

@media screen and (max-width: 800px) {
  #desktop-prlx {
    display: none;
  }

  #mobile-nav {
    /* display: none; */
  }

  /* .thumbnail-logo {
    width: 60px;
    margin-bottom: 0;
  } */

  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #logo-header {
    margin: auto;
  }

  .logo-heading {
    padding: 0;
    /* margin-top: 10%; */
    /* margin-left: 20px; */
    /* font-size: 10vw; */
  }

  .tagline-bckgrnd:nth-of-type(1) {
    margin-top: 0px;
  }

  #mobile-fold-taglines {
    position: absolute;
    top: 0;
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    /* text-align: center; */
  }

  .divider h2 {
    font-size: 18px;
    padding: 20px;
    margin-top: 20px;
    width: 70vw;
    margin-right: auto;
    margin-left: auto;
  }

  .cards {
    flex-direction: column;
  }

  .about p {
    padding: auto .5em auto .5em;
  }

  #desktop-nav {
    display: none;
  }

  #veg-burger-icon {
    display: block;
  }

  .fa-bars, #veggie-burger-expanded {
    display: inline;
    position: absolute;
    right: 0;
    padding: 50px;
  }

  #sign-up-paragraph {
    width: 60%;
  }

  .about p {
    margin: auto 20px;
  }

  .profilePic, #email-image {
    width: clamp(150px, 45%, 400px);
  }

  .video-element {
    width: 90%;
  }

  #mailform-shift {
    transform: translateY(-2.6em);
  }  

}

/* remove site headline for tiny screens */

@media screen and (max-width: 400px) {
  .thumbnail-logo {
    width: 20%;
    margin: 5%;
    min-width: 44px;
  }

  .logo-heading {
    display: none;
  }
  #mobile-fold-taglines {
    margin-top: 20px;
    position: relative;
  }
  #mailform-shift {
    transform: translateY(-1.8em);
  } 
}