/* Base reset */
* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  /* font-family: raleway, sans-serif; */
}

/* NAV */

nav {
  position: fixed;
  top: 0;
  left: 0;
}

.navbar {
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  background: #EAECEF;
  margin-bottom: 0px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.thumbnail-logo {
  display: flex;
  width: 80px;
  margin: 20px;
  padding-right: 5px;
}


.logo-heading {
  color: #333;
  font-family: "Bebas Neue", sans-serif;
  font-size: 50px;
  padding: 20px 25px 20px 0px;
  margin-top: 5px;
  text-shadow: 2px 2px #83e7cb;
}

nav a {
  text-decoration: none;
}

.nav-link {
  color: #565B5E;
  text-align: left;
  padding: 14px 16px;
  margin: 10px;
  text-decoration: none;
  font-size: 18px;
  border: none;
  background: #EAECEF;
}
 
.dropbtn {
  color: #565B5E;
  text-align: left;
  margin: 0px 20px;
  text-decoration: none;
  font-size: 18px;
  border: none;
  margin: auto 10px;
}


.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: #565B5E;
  padding: 14px 16px;
  background: inherit;
  font-family: inherit;
  padding: 14px 16px;
  font-size: 18px;
  margin: auto 10px;
}

.nav-link:hover, .dropdown:hover .dropbtn {
  background-color: #83e7cb;
  color: white; 
  border-radius: 5px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  /* border-bottom: 20px solid #83e7cb; */
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #565B5EE9;
  min-width: 160px;
  z-index: 1;
  border-top: 6px solid #83e7cb;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  /* border-radius: 8px; */
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #697078;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.divider {
  background: url(images/online-guitar-lessons.jpg);
  min-height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 4px;
}

#email-image {
  width: 300px;
  /* margin: 20px; */
  border-radius: 100%;
}

.tagline-bckgrnd:nth-of-type(1) {
  margin-top: 250px;
}

.tagline-bckgrnd:nth-of-type(3) {
  margin-bottom: 60px;
}

#logo {
  width: 300px;
  padding: 20px;
  margin: 30px auto 100px auto;
}

.tagline-bckgrnd {
  background: #000000BB;
  margin: 20px;
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.email-sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #EAECEF;
}

.second-header {
  color : #333;
  font-family: "Bebas Neue", sans-serif;
  text-align: center;
  font-size: 60px;
  margin: 50px auto 20px;
  padding: 20px;
  text-shadow: 2px 2px #83e7cb;
}

#sign-up-paragraph {
  margin: 20px;
  padding: 10px;
  color: white;
  background: #000000BB;
  border-radius: 4px;
}

.email{
  margin-top: 15px;
  width: 100%;
  border: none;
  height: 3rem;
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

::placeholder { 
  /* color: #565B5E; */
  /* color: #FFFFFF44; */
  opacity: 1;
  text-align: center;
}

#sign-up {
  background: #E3C24D;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  margin: 40px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

p {
  /* margin: 20px auto 20px 40px; */
  font-size: 18px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  margin-bottom: 30px;
}

.card {
  margin: 2rem;
  padding: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-title {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.5rem;
  color: #565B5E;
  margin-bottom: 20px;
  /* text-shadow: 2px 2px #83e7cb; */
}

.card-button {
  color: white;
  display: block;
  background: #E3C24D;
  border: none;
  border-radius: 2rem;
  font-size: 20px;
  text-align: center;
  padding: 15px;
  margin: 30px;
  width: fit;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.course-div a, .card a, .print-card a {
  text-decoration: none;
}

.card-image {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


button a {
  text-decoration: none;
  color: white;
}


.divider h2 {
  color: white;
  text-align: center;
  font-size: 40px;
  font-weight: 100px;
  padding: 40px;
}

.video-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.video-element {
  margin: 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 100px 100px 70px;
  
}

.about p {
  text-align: justify;
  padding: 1em 2em 1em 2em;
  font-size: 16px;
}

.profilePic {
  border-radius: 50%;
  width: 400px;
  margin: 30px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

footer {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: #111;
  /* color: #EAECEF; */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

footer p {
  font-size: 14px;
}

.social {
  width: 100vw;
  font-size: 1.2em;  
  background: #565B5E;
  /* flex-direction: column; */
  align-items: baseline;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social-element {
  padding: 40px;
}

.social h3 {
  color: #eee;
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  font-weight: 100;
  text-align: center;
  /* padding: 20px; */
  /* margin-top: 100px; */
}

.social i {
  color: #111;
  font-size: 2.5em;
  margin: .5em;
}

footer a {
  padding: 4px;
  color: 565B5E;
  text-align: center;
  text-decoration: none;
  color: #EEE;
}

.footer-nav {
  margin: 40px;
}

.footer-logo {
  width: 150px;
  margin: 20px;
}

.copyright {
  color: #565B5E;
  text-align: center;
  /* margin-top: 20px; */
}

.copyright-text {
  text-decoration: overline;
}

.copyright p {
  padding: 5px;
}

.footer-nav a {
  display: block;
}

.footer-element {
  padding: 40px;
}

.first-element-margin {
  margin-top: 150px;
}

.print-card {
  display: flex;
  flex-direction: column;
  border: solid grey 1px;
  border-radius: 4px;
  align-items: center;
  margin: 10px;
  padding: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.print-card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.center {
  text-align: center;
}

.margin-bottom {
  margin-bottom: 40px;
}

input[type="email"] {
  font-size: 20px;
  text-align: center;
}

/* .logo-heading {
  color: #565B5E;
  font-family: "Bebas Neue", sans-serif;
  font-size: 40px;
  text-shadow: 2px 2px #83e7cb;
  align-content: center;
} */

/* .logo {
  margin: 10px 20px;
  width: 40px;
} */

/* nav {
  color: #565B5E;
  width: 100vw;
} */

.course-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 80px;
}

.course-header {
  width: 100%;
}

h2 {
  /* padding-left: 20px; */
  color: #565B5E;
}

.course-text {
  /* padding: 20px 180px; */
  text-align: justify;
  margin: 2em;
  color: #111;
}

.learn {
  font-size: 25px;
  margin: .25em;
  padding-bottom: 20px;
}

.course-image {
  display: block;
  margin: 20px auto 50px;
  border-radius: 2px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.centered-list {
  display: flex;
  align-items: baseline;
}

.centered-list p {
  margin: 20px 40px;
  text-align: center;
  max-width: 350px;
}

.course-name {
  text-align: center;
  margin: 50px auto 20px;
}

.course-name a {
  text-decoration: none;
  color: #111;
  font-size: 1.2em;
}

.text-muted {
  font-weight: 100;
  /* color: #5655E; */
}

.course-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  background: #EEE;
  margin: 40px;
  padding: 20px;
  width: 40%;
  min-width: 400px;
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.bullets {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: white; */
  color: #565B5E;
  padding: 10px;
}

.learn {
  color: #111;
}


/* media queries */

@media screen and (max-width: 700px) {
  .cards {
    flex-direction: column;
  }

  .about p {
    padding: auto .5em auto .5em;
  }
}

/* @media screen and (max-width: 1000px) {
  .cards {
    flex: 0 50%;
  }
} */