table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 100%;
}

form {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: flex-start; */
    align-items: flex-start;
}

form div {
    margin: auto 30px;
}

/* input, textarea, td span {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    outline: none;
} */

textarea {
    resize: none;
}

th {
    background-color: #AAA;
}


.small-column {
    width: 12%;
}

button {
    margin: 10px auto;
    cursor: pointer;
}

.edit-hover {
    position: absolute;
}

.remove-hover {
    position: absolute;
    left: 60px;
}

td {
    padding: 18px;
    /* valign: top; */
}

.fa-edit, .fa-trash-alt {
    color: #999;
    cursor: pointer;
}

.fa-edit:hover {
    color: 007CFE;
}

.fa-trash-alt:hover {
    color: tomato;
}

#submit > div {
    background: #EEE;
    padding: 10px 20px 30px 20px;
    border-radius: 30px;
    margin-top: 20px;
    width: 300px;
}

#submit > div:hover {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    transform: translateY(-1px);
}

#submit > div input, #submit > div textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
}

#submit h3 {
    text-align: center;
}

#timer {
    height: 150px;
    font-size: 50px;
    padding-top: 25px;
}

#practiceTimerEndBtn, #practiceTimerStartBtn, #practiceTimerPauseBtn, #practiceTimerResetBtn, #submit input[type = submit] {
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
}

#practiceTimerEndBtn {
    color: #333;
    border: solid 1px tomato;
}

#practiceTimerStartBtn {
    color: #333;
    border: solid 1px #0FC399;
}

#practiceTimerPauseBtn {
    margin-bottom: 20px;
}

#submit input[type = submit], #practiceTimerResetBtn, #practiceTimerPauseBtn {
    color: #333;
    border: solid 1px #007CFE;
}

#practiceTimerEndBtn:hover {
    color: white;
    border: none;
    background: tomato;
}

#practiceTimerStartBtn:hover {
    color: white;
    /* border: none; */
    background: #0FC399;
}
#submit input[type = submit]:hover, #practiceTimerResetBtn:hover, #practiceTimerPauseBtn:hover {
    color: white;
    /* border: none; */
    background: #007CFE;
}

#submit input[type = submit] {
    margin-top: 20px;
    margin-bottom: 0;
}

#submit label {
    font-weight: 600;
}

#streaks {
    display: flex;
    flex-wrap: wrap;
}

#streaks div {
    margin-right: 30px;
}
