.course-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
}

.course-header {
  width: 100%;
  margin-top: 20px;
}

h2, h3 {
  /* padding-left: 20px; */
  color: #565B5E;
}

.course-text {
  /* padding: 20px 180px; */
  text-align: center;
  margin: 2em;
  color: #111;
  font-weight: 100;
}

.learn {
  font-size: 25px;
  margin: .25em;
  padding-bottom: 20px;
}

.course-image {
  display: block;
  margin: 20px auto 50px;
  border-radius: 2px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.centered-list {
  display: flex;
  align-items: baseline;
}

.centered-list p {
  margin: 20px 40px;
  text-align: center;
  max-width: 350px;
}

.course-name {
  text-align: center;
  margin: 50px auto 20px;
}

.course-name a {
  text-decoration: none;
  color: #111;
  font-size: 1.2em;
}

.text-muted {
  font-weight: 100;
  /* color: #5655E; */
}

.course-div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  background: #EEE;
  margin: 20px 40px;
  padding: 15px;
  width: 35%;
  min-width: 400px;
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.course-div:hover {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
  transform: translateY(-4px);
}

.bullets {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: white; */
  color: #565B5E;
  padding: 10px;
}

.learn {
  color: #111;
}

@media screen and (min-width: 800px) {
  .course-header {
    margin-top: 8%;
  }
}

@media screen and (max-width: 800px) {
    .course-div {
        width: 65%;
        min-width: 200px;

    }
}